[submodule "sites/all/modules/active_record"]
	path = sites/all/modules/active_record
	url = https://github.com:matthewbaggett/drupal_active_record.git
[submodule "sites/all/modules/magic_forms"]
	path = sites/all/modules/magic_forms
	url = https://github.com:matthewbaggett/drupal_magic_forms.git
[submodule "sites/all/modules/private_party"]
	path = sites/all/modules/private_party
	url = https://github.com:matthewbaggett/drupal_private_party.git
[submodule "sites/all/themes/ace"]
	path = sites/all/themes/ace
	url = https://github.com:matthewbaggett/drupal_theme_ace.git
