.container {
    max-width: 1600px;
}
.dash_chart{
    width: 500px;
    height: 250px;
    float: right;
    display: block;
}

.git-revision{
    position: fixed;
    top: 0;
    right: 0;
    font-size: 9px;
    color: #DDDDDD;
    font-style: italic;
    z-index: 2000;
}
.git-revision a.forkme{
    background-image: url(../images/forkme.png);
    float: right;
    display: block;
    height: 149px;
    width: 149px;
    clear: right;
}
.git-revision a.revision{
    color: #DDDDDD;
    position: absolute;
    display: block;
    clear: right;
    transform: rotate(45deg) scale(1) skew(1deg) translate(0px);
    -webkit-transform: rotate(45deg) scale(1) skew(1deg) translate(0px);
    -moz-transform: rotate(45deg) scale(1) skew(1deg) translate(0px);
    -o-transform: rotate(45deg) scale(1) skew(1deg) translate(0px);
    -ms-transform: rotate(45deg) scale(1) skew(1deg) translate(0px);
    text-align: center;
    right: 21px;
    top: 56px;
    text-shadow: 1px 1px 0px #000000, -1px -1px 0px #000000, -1px 1px 0px #000000, 1px -1px 0px #000000;
    font-family: monospace;
    font-size: 20px;
    text-decoration: none;
}
.git-revision a.revision:hover{
    text-decoration: none;
}