.container {
    max-width: 1600px;
}
.dash_chart{
    width: 500px;
    height: 250px;
    float: right;
    display: block;
}

.git-revision{
    position: fixed;
    bottom: 0;
    right: 0;
    font-size: 9px;
    font-family: verdana, arial, sans-serif;
    color: #DDDDDD;
    font-style: italic;
}